{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white" style="padding-bottom: 90px; padding-left: 90px; padding-right: 90px;">
		
			<h2 <!-- style="margin-bottom: 15px;" -->>L'identité de la cité des Jeunes</h2>
			<div class = "justified-paragraph">
				<p>La Cité des Jeunes est une association loi 1901, déclarée le 9 décembre 1946 (JO du 22/01/1947).</p>
				<p>Elle possède un agrément « Jeunesse et Éducation Populaire » du Ministère de la jeunesse, 
				des sports et de la vie associative (depuis le 30 août 1966, agrément n° 75 JEP 05-331 renouvelé le 27 juin 2005). 
				Cet agrément signifie qu’elle s’engage à avoir un fonctionnement démocratique et à participer 
				à la mission d’éducation citoyenne de l’État.</p>
				<p>En tant qu’adhérent de la FACEL, la Cité des Jeunes est sous l’autorité de l’archevêque de Paris, qui garantit 
				son appartenance à l’Église catholique.</p>
				<p>La Cité des Jeunes adhère également à l’UFCV, fédération qui réunit dans un esprit laïc des associations d’identités 
				diverses accueillant des jeunes.</p>
				<p>La Cité des Jeunes est ouverte à tous, mais les familles et les participants doivent connaître et respecter son identité 
				catholique. Ils sont invités à partager ses valeurs durant le temps du séjour, dans le respect des convictions de chacun.</p>
				<p>Pour nous connaitre et connaitre ce qui nous rassemble, consultez le Projet Educatif, notre socle commun !</p>
			</div>
		</div>
	</div>
{% endblock %}