{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
			<h2>Colonies 6-8 ans et 9-12 ans</h2>
			<div class = "justified-paragraph">
				<p class="lead">Tu as entre 6 et 12 ans, et cet été tu pars en colonie avec la Cité ? Alors cette page est pour toi. Viens découvrir l’aventure, les lieux, les activités qui t’attendent...</p>
				<p>Pour les plus petits, ce seront 10 jours de découverte, pour des premières vacances loin des parents. Pour les grands, 3 semaines à partager avec des activités et des responsabilités adaptées à chaque âge... mais toujours le même esprit d’entraide, de chants, de joie !
				</p>
				<p>Et si c’est la première fois que tu pars, la page qui suit va répondre à toutes tes questions... et à celles des tes parents ! Tu sauras ainsi comment va s’organiser ta vie quotidienne pendant ces quelques jours de vie de groupe. De quoi déjà rêver à l’été !</p>
				<h5>Comment vais-je dormir ?</h5>
				<p>Les filles et les garçons dorment dans des dortoirs séparés. Ce sont des chambres de 5 lits. Les 6-8 ans et les 9-12 ans ne sont pas dans les mêmes chambres, parce qu’ils ne vont pas se coucher à la même heure. Tu auras un lit avec une armoire à côté, et pour que tout reste propre, tu feras ton lit le matin et tu rangeras bien tes affaires.
				</p>
				<h5>Comment vais-je me laver ?</h5>
				<p>On se lave tous les jours, dans des douches individuelles, sous la surveillance d’un animateur ou d’une animatrice. Tu es responsable de ta propre hygiène, mais tu pourras demander de l’aide, par exemple pour te laver les cheveux. Des lessives sont faites chaque jour. Mais attention, pour être retrouvées, les affaires doivent être très bien marquées !</p>
				<h5>Comment vais-je me retrouver dans le groupe ?</h5>
				<p>Tu feras partie d’une équipe de vie de 6 à 8 enfants, avec un animateur « attitré », ce qui n’empêche pas d’aller voir les autres anims’ ! C’est en équipe que vous ferez la prière du matin, les services (cuisine, vaisselle, rangement, préparation de la prière) et que vous partirez en mini-camps (2 jours et une nuit sous la tente !).</p>
				<p>Les 6/8 ans et les 9/12 ans sont dans la même maison, mais ne font pas toujours les mêmes activités. Vous vous retrouverez cependant régulièrement, par exemple pour faire une grande veillée tous ensemble.</p>
				<h5>Comment vais-je manger ?</h5>
				<p>Il y a une cuisinière ou un cuisinier, qui fait la cuisine pour tout le monde. L’équipe qui est de service cuisine ce jour-là peut l’aider à préparer les plats, mais elle est surtout chargée de mettre le couvert. On mange tous en même temps, dans un réfectoire avec des tables de 6 ou plus. Tu pourras t’asseoir où tu voudras, en laissant quand même une place pour un animateur à chaque table !</p>
				<p>L’équipe de vaisselle range ensuite la table, met la vaisselle dans le lave vaisselle, et nettoie les gros plats.</p>
				<p>Pour le petit déjeuner, c’est toi qui te serviras en lait, céréales, jus d’orange, pain, confiture... Tu pourras bien sûr demander de l’aide, un animateur est toujours présent.</p>
				<h5>Comment parle-t-on de Dieu à la Cité ?</h5>
				<p>A la Cité des Jeunes, que ce soit en 6/12 ou chez les plus grands, des temps particuliers de la journée rythment la vie du groupe, et permettent de découvrir la Bible (et de la voir autrement !) et d’essayer de trouver une place pour Jésus dans nos vies d’enfants de Dieu. Ce sont des moments privilégiés pour prier, chanter, être ensemble.</p>
				<p>Chaque journée est marquée par :
				<ul class="content-list"><li>Une prière en équipe le matin pour démarrer la journée,</li>
				<li>Des bénédicités chantés avant les repas,</li>
				<li>Une prière en grand groupe, le soir, préparée une équipe.</li></ul></p>
				<p>Le dimanche, nous allons à la messe tous ensemble, et essayons de participer à sa préparation au maximum. D’autres moments nous parlent de la Bible aussi pendant la colonie : des grands jeux, des histoires, des temps de partage en petits groupes...</p>
				<h5>Et pour recevoir des nouvelles?</h5>
				<p style="margin-bottom: 2em">Tu peux écrire à ta famille autant que tu veux, le temps calme après le repas est un bon moment pour le faire. Si tu ne sais pas encore écrire, un animateur pourra t’aider. Tu peux aussi recevoir du courrier tous les jours... Enfin, tu peux téléphoner occasionnellement en utilisant une cabine publique, environ une fois par semaine.</p>
				<p>Pour s'inscrire, c'est <a href="/inscriptions">par ici...</a></p>
			</div>
		</div>
	</div>
{% endblock %}