{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
			<h2>Camps 13-15 ans</h2>
			<div class = "justified-paragraph">
				<p class="lead">Tu as entre 13 et 15 ans, et tu pars cet été en camp avec la Cité. Tu es peut-être un vieux routard de la Cité, mais peut-être pas... Si tu es tout nouveau, cette page te permettra de découvrir le périple qui t’attend, et répondra à tes interrogations existentielles (telles que « et mon téléphone en camp ?! »). Quelques phrases, pour éclaircir un peu l’organisation de ta vie pendant ces trois semaines de vie de groupe loin de tout ce que tu connais (et sans portable !)...</p>
				<h5>Comment dort-on ?</h5>
				<p>Sous tente, et uniquement sous tente ! Des tentes non-mixtes, de 6 ou 8 places. Chaque « équipe de tente » monte et démonte sa tente (mais pas besoin d’être un campeur professionnel pour venir à la Cité, on apprend vite). Comme les camps sont souvent itinérants (on change de lieu de camp tous les jours ou tous les deux jours), on ne fait pas d’installations (bancs ou tables à feu). On s’installe dans des champs que l’on nous prête, ou même sur des terrains de foot. On peut aussi aller dans des campings (mais c’est rare !). En fait, il nous faut juste un terrain pour les tentes et un point d’eau !
				</p>
				<h5>Comment le groupe s’organise-t-il ?</h5>
				<p>Le groupe est partagé en équipes de six à huit jeunes, chacune est rattachée à un animateur, pour tout ce qui concerne les services et les mini-camps. Les services sont les mêmes que pour les plus jeunes : préparation de la prière du soir, préparation des repas (c’est vous les cuistots !), vaisselle (à la main) et rangement.</p>
				<p>C’est en équipe que vous partirez en mini-camp (3 jours), c’est aussi en équipe que vous aurez la charge de préparer et d’animer une veillée pour l’ensemble du groupe, ainsi que d’autres activités ponctuellement.</p>
				<h5>Comment mange-t-on ?</h5>
				<p>C’est l’intendant qui fait les menus et des courses. L’équipe cuisine prépare le repas pour tout le monde, l’animateur et/ou l’intendant vous aidera et si besoin vous expliquera comment faire cuire des nouilles pour 40 personnes...
				</p>
				<p>On mange assis par terre, en rond pour tous se voir, et une équipe va chercher l’eau potable dans des bidons (comment ! pas d’eau courante dans la tente ?!) Une équipe est chargée de faire le service pendant le repas, mais chacun peut prendre l’initiative, c’est même très apprécié... joie du service !</p>
				<h5>Comment se lave-t-on ?</h5>
				<p>C’est difficile de trouver une douche sur les lieux de camps. Quand on dort en camping, tout le monde passe à la douche. Quand on est au fin fond d’un champ, on se lave en maillot de bain, à l’aide de bassines et de gants de toilette : effet comique garanti. Dans tous les cas, un temps est prévu chaque jour pour la toilette... aucune excuse !</p>
				<p>La lessive se fait à la main : chacun fait la sienne, dans des bassines, avec sa lessive. Pas besoin de savoir-faire particulier, tout le monde sait frotter !</p>
				<p>En ce qui concerne les toilettes, des feuillets sont creusées chaque jour, sauf évidemment en camping.</p>
				<h5>Le côté spirituel ?</h5>
				<p>Les temps spirituels, comme chez les plus jeunes et les 16/17, rythment la vie du camp. On fait une prière en équipe et une prière en groupe chaque jour. Et puis certaines veillées pendant le camp sont des temps de partages ou de prières. Chacun peut s’investir selon son envie dans ces moments, tant qu’il respecte les autres, leurs pensées, leur recueillement, leurs chants...</p>
				<p>Tu te poses sans doute des tas de questions sur ta foi, tu n’es peut-être sûr de rien sur le sujet. Chaque camp est une occasion de la découvrir sous un autre jour, grâce aux témoignages des animateurs et des autres jeunes, aux . discussions qu’on peut avoir avec chacun, ou grâce aux questions qu’on se pose, en prenant le temps de se mettre à l’écoute. Un camp, c’est 3 semaines privilégiées dans notre année pour (re)découvrir la prière, facilitée et portée par celle des autres.</p>
				<h5>Courrier, téléphone, cigarette...</h5>
				<p>Le courrier ne circule pas toujours facilement en camp itinérant. On peut bien sur envoyer autant de lettres que l’on veut, mais il arrive qu’on ne puisse pas aller chercher le courrier pendant un ou deux jours.</p>
				<p>Les possibilités de téléphoner sont très variables selon les lieux de camp. Même dans les campings, on ne laisse pas toujours les groupes utiliser la seule cabine existante... Ces 3 semaines sont une occasion de vivre autrement, de changer nos habitudes. On évitera donc de téléphoner trop souvent, vous pouvez par contre abuser du papier à lettre. En cas d’urgence cependant, on trouvera toujours moyen de téléphoner.</p>
				<p style="margin-bottom: 2em">Les camps sont par principe non fumeurs.</p>
				<p>Pour s'inscrire, c'est <a href="/inscriptions">par ici!</a></p>
			</div>
		</div>
	</div>
{% endblock %}