{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
			<h2>Camps 16-17 ans</h2>
			<div class = "justified-paragraph">
				<p>Un camp 16/17, c’est avant tout un bond vers la responsabilité. La grande nouveauté pour les anciens 13/15 est l’autonomie laissée aux équipes de vie : il n’y a pas d’animateur attitré à chacune de celles-ci. Les jeunes composant ces équipes ont donc, ensemble, la responsabilité de leur bon fonctionnement - services, etc.</p>
				<p>Comme en 13/15, le couchage se fait traditionnellement sous tentes. Le camp est généralement itinérant pendant au moins une semaine. Des activités physiques sont au programme, et des mini-camps sont organisés dans la mesure du possible — et de la législation locale — en laissant les équipes de vie autonomes pendant 2 ou 3 jours (sacs et tentes apportés en camion).</p>
				<p style="margin-bottom: 2em">Les règles de vie du camp sont mises en place conjointement par les animateurs et les jeunes en début de camp. Lors de forums fréquents, chacun a la possibilité de s’exprimer pour faire évoluer ces règles de vie et les adapter au mieux aux attentes de tous.</p>
				<p>Viens t'inscrire <a href="/inscriptions">ici!</a></p>
				<p>Tu peux aussi trouver la présentation du camp de cette année <a href="../static/doc/pub_16_17_ans.pdf">ici!</a></p>
			</div>
		</div>
	</div>
{% endblock %}
