{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white" style="padding-bottom: 90px; padding-left: 90px; padding-right: 90px;">
			<h2>Charte animateurs</h2>
			<div class = "justified-paragraph">
				<p class="lead">Charte rédigée par les animateurs et directeurs lors du week-end de rentrée, septembre 2011</p>
				<p style="font-weight: bold;">Moi, animateur, je me fixe pour objectifs :</p>
				<ul class="content-list">
					<li>L’obtention du BAFA (Brevet d’Aptitude aux Fonctions d’Animateur), le BAFD (... de Directeur).</li>
					<li>La participation aux formations anims cité,</li>
					<li>La capacité d’assurer à tout moment la sécurité physique, affective et le bien-être des enfants, en
					<ul>
						<li>responsabilisant les enfants, leur donnant une autonomie pour qu’ils s’épanouissent</li>
						<li>étant présent, patient, à l’écoute de chacun.</li>
					</ul></li>
					<li>Un rôle éducatif et pédagogique :
					<ul>
						<li>adhérer au projet pédagogique du directeur,</li>
						<li>être un exemple, être cohérent entre animateurs et avec soi-même,</li>
						<li>préparer des animations constructives et éducatives,</li>
						<li>respecter les règles et ses engagements. La transmission de mon expérience et de mes compétences aux jeunes et aux autres animateurs.</li>
					</ul></li>
					<li>Une relation forte et dynamique avec l’équipe d’animation :
					<ul>
						<li>prendre des initiatives et des responsabilités,</li>
						<li>communiquer,</li>
						<li>être franc avec les autres, accepter les critiques, accepter d’être aidé,</li>
						<li>arriver au camp en bonne santé,</li>
						<li>en se dépassant tout en acceptant ses limites.</li>
					</ul></li>
				</ul>
					<p style="font-weight: bold;">
					Moi, animateur à la Cité des Jeunes, à l’aide de la formation, je cherche à vivre ma foi :</p>
				<ul class = "content-list">
					<li>Personnellement :
					<ul>
						<li>en participant à la vie de l’Église,</li>
						<li>en donnant une place à Dieu dans ma vie de tous les jours,</li>
						<li>en participant régulièrement à l’Eucharistie,</li>
						<li>en vivant dans des valeurs chrétiennes.</li>
					</ul></li>
					<li>Quelle que soit ma foi, je m’engage à être dans une démarche spirituelle et à rester ouvert à la foi et aux religions (croyances).</li>
					<li>Avec les animateurs :
					<ul>
						<li>en se donnant le temps de réfléchir à ce que l’on croit,</li>
						<li>en vivant régulièrement la prière en équipe d’animation.</li>
					</ul></li>
					<li>Avec les jeunes :
					<ul>
						<li>en m’engageant à vivre le plan progressif spirituel,</li>
						<li>en témoignant avec simplicité et vérité.</li>
					</ul></li>
				</ul>
				<p>En camp :</p>
				<ul class = "conent-list">
					<li>En transmettant les valeurs de la vie Citéenne</li>
					<li>Par le bénévolat</li>
				</ul>
				<p>Au sein de l’Association :</p>
				<ul class = "conent-list">
					<li>Adhérer au projet éducatif</li>
					<li>S’informer, s’engager dans la vie de l’association</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}