{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
			<h2>Le coin des anims</h2>
			<div class = "justified-paragraph">
				<p>Les responsables de la formation animateurs cette année sont Simon Buoro, Paul Janin et Louis Romieu, et les responsable de la formation directeur sont Rémy et Séraphine Degroux, ainsi que Loïc Poinsot.</p>
				<h5>Formations à venir</h5>
				<p>Le deuxième week-end de formation aura lieu <b>le 25 et 26 Mars</b> à la paroisse sainte Thérèse à <b>Fontenay-sous-bois</b>.</p>
				<p>Pour plus de renseignements, n'hésite pas à nous envoyer un mail : formateurs@citedesjeunes.com</p>
				<h5>Quelques liens sympas</h5>
				<table>
					<tbody>
						<tr><td><a href="http://www.afocal.asso.fr">L'Afocal</a></td><td><i>Votre</i> organisme de formation!</td></tr>
						<tr><td><a href="http://www.fondationnotredame.fr">Fondation Notre-Dame</a></td><td>nous aide à accueillir des familles en difficulté</td></tr>
						<tr><td><a href="http://toidumonde.vefblog.net/">Toi du Monde</a></td><td>Association partenaire de notre camp-chantier 2009 au Sénégal</td></tr>
						<tr><td><a href="http://www.planetanim.com">Planetanim</a></td><td>Tout sur l'animation et la direction</td></tr>
						<tr><td><a href="http://www.ufcv.asso.fr">UFCV</a></td><td>Union Française des Centres de Vacances</td></tr>
						<tr><td><a href="http://www.taize.fr">Taizé</a></td><td>Lien vers la communauté de Taizé</td></tr>
						<tr><td><a href="http://frat.org">Le Fraternel</a></td><td>Site officiel du Frat.</td></tr>
						<tr><td><a href="http://www.meci.org/mecispip/spip.php?rubrique1">Meci</a></td><td>Mission étudiante de l'Île de France</td></tr>
						<tr><td><a href="http://www.facel-paris.com">La FACEL</a></td><td>Fédération des Associations Culturelles Éducatives et de Loisirs</td></tr>
						<tr><td><a href="http://www.croire.com">croire</a></td><td>Religion, prières. (Sur abonnement)</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
