{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white" style="padding-bottom: 90px; padding-left: 90px; padding-right: 90px;">
			<h2>Le conseil</h2>
			<div class = "justified-paragraph">
				<p class = "lead">Pour en savoir plus sur la composition du conseil et ses prochaines réunions...</p>
				<h5>Membres du conseil</h5>
				<p>La Cité des Jeunes vit grâce à son Conseil d’administration, composé de trois collèges. Chaque collège représente une tranche d’âge : moins de 20 ans, 20-30 ans et plus de 30 ans. Ainsi, la Cité évolue en tenant compte des idées des jeunes, des animateurs et des parents, et repose sur un échange et un enrichissement de chaque génération.</p>
				<div class="row v-center">
					<div class="col-sm-3">
						<table class="table">
							<thead>
								<th>Premier collège</th>
							</thead>
							<tbody>
								<tr><td>Buoro Simon</td></tr>
								<tr><td>Jambou Maxime</td></tr>
								<tr><td>Janin Paul</td></tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-3">
						<table class="table">
							<thead>
								<th>Deuxième collège</th>
							</thead>
							<tbody>
								<tr><td>Afota Marine</td></tr>
								<tr><td>Defranceschi Thomas</td></tr>
								<tr><td>Degroux Séraphine et Rémy</td></tr>
								<tr><td>Poinsot Loïc</td></tr>
								<tr><td>Sabahi Paul</td></tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-3">
						<table class="table">
							<thead>
								<th>Troisième collège</th>
							</thead>
							<tbody>
								<tr><td>Esnault Pascal et Nadia</td></tr>
								<tr><td>Guigui Sophie</td></tr>
								<tr><td>Jambou Patrick</td></tr>
								<tr><td>Latu Elisabeth</td></tr>
								<tr><td>Lhuizière François</td></tr>
								<tr><td>Nave Emmanuelle</td></tr>
								<tr><td>Quesnoy André</td></tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-3">
						<table class="table">
							<thead>
								<th>Bureau</th>
							</thead>
							<tbody>
								<tr><td>Président : Paul Sabahi</td></tr>
								<tr><td>Vice-président : Patrick Jambou</td></tr>
								<tr><td>Secrétaire : Paul Janin</td></tr>
								<tr><td>Trésorier : Simon Buoro</td></tr>
							</tbody>
						</table>
					</div>
				</div>
				<h5>Prochaines réunions</h5>
				<p>Vous êtes très chaleureusement invités à venir assister à une réunion du Conseil qui se tiendra le mardi 8 Mars au soir! Pour plus 'informations ou si vous avez des questions, envoyez-nous un mail à info@citedesjeunes.com.</p>
				<p>La dernière réunion du conseil a eu lieu le 9 Février. Le Conseil est actuellement en train de monter les équipes de direction et d’animation des camps que la Cité des Jeunes ouvrira l’été prochain, et finalise les détails concernant les inscriptions.</p>
			</div>
		</div>
	</div>
{% endblock %}