{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
			<h2>Le conseil</h2>
			<div class = "justified-paragraph">
				<p class = "lead">Pour en savoir plus sur la composition du conseil et ses prochaines réunions...</p>
				<h5>Membres du conseil</h5>
				<p>La Cité des Jeunes vit grâce à son Conseil d’administration, composé de trois collèges. Chaque collège représente une tranche d’âge : moins de 20 ans, 20-30 ans et plus de 30 ans. Ainsi, la Cité évolue en tenant compte des idées des jeunes, des animateurs et des parents, et repose sur un échange et un enrichissement de chaque génération.</p>
				<div class="row v-center">
					<div class="col-sm-3">
						<table class="table">
							<thead>
								<th>Premier collège</th>
							</thead>
							<tbody>
								<tr><td>Rémi Bourquerod</td></tr>
								<tr><td>Timothée Ficheux</td></tr>
								<tr><td>Nicolas Jambou</td></tr>
								<tr><td>Marie Malaterre</td></tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-3">
						<table class="table">
							<thead>
								<th>Deuxième collège</th>
							</thead>
							<tbody>
								<tr><td>Simon Buoro</td></tr>
								<tr><td>Marie Giraud</td></tr>
								<tr><td>Séraphine et Rémy Degroux</td></tr>
								<tr><td>Loïc Poinsot</td></tr>
								<tr><td>Paul Janin</td></tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-3">
						<table class="table">
							<thead>
								<th>Troisième collège</th>
							</thead>
							<tbody>
								<tr><td>Fabienne Bouvet</td></tr>
								<tr><td>Muriel Buoro</td></tr>
								<tr><td>Yann de Gouville</td></tr>
								<tr><td>Claire et Cyrille de Pontevès</td></tr>
								<tr><td>François Lhuiziète</td></tr>
								<tr><td>Anne-Claire Ewald</td></tr>
								<tr><td>André Quenoy</td></tr>
								<tr><td>Marion Ficheux</td></tr>
								<tr><td>Sylvain Fiot</td></tr>
								<tr><td>Gilles Gravereaux</td></tr>
								<tr><td>Elisabeth et Benoit Latu</td></tr>
								<tr><td>Sonia Lemarchand</td></tr>
								<tr><td>Nathalie Lerebour</td></tr>
								<tr><td>Murielle Ricardo</td></tr>
								<tr><td>Bertrand et Sophie Richard</td></tr>
								<tr><td>Marie Romieu</td></tr>
								<tr><td>Emmanuel Salesse</td></tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-3">
						<table class="table">
							<thead>
								<th>Bureau</th>
							</thead>
							<tbody>
								<tr><td>Président : François Lhuizière</td></tr>
								<tr><td>Vice-président : Marie Giraud</td></tr>
								<tr><td>Secrétaire : Paul Janin</td></tr>
								<tr><td>Trésorier : Yann de Gouville</td></tr>
							</tbody>
						</table>
					</div>
				</div>
				<h5>Prochaines réunions</h5>
				<p>Vous êtes très chaleureusement invités à venir assister à une prochaine réunion du Conseil! Pour plus d'informations ou si vous avez des questions, envoyez-nous un mail à info@citedesjeunes.com.</p>
				<p>La dernière réunion du conseil a eu lieu le 27 Février. Le Conseil est actuellement en train de monter les équipes de direction et d’animation des camps que la Cité des Jeunes ouvrira l’été prochain, et finalise les détails concernant les inscriptions.</p>
			</div>
		</div>
	</div>
{% endblock %}
