{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white" style="padding-bottom: 90px; padding-left: 90px; padding-right: 90px;">
			<h2 style="margin-bottom: 15px;">Contacts</h2>
			<h5>Pour joindre la Cité des Jeunes</h5>
			<div class = "justified-paragraph">
				<h5>L'association et ses activités</h5>
				<p>Vous souhaitez recevoir des informations sur les camps, sur les activités durant l’année ou sur les formations animateurs ? Vous voulez recevoir le journal annuel ’Cité Nouvelle’ ou une plaquette de présentation de nos camps ?
				</p>
				<p>Envoyez-nous un mail: info@citedesjeunes.com</p>
				<!-- <p>Appelez-nous au 01.43.95.01.24 NUM OBSOLETE </p> --> 
				<p style="margin-bottom: 1em;">Ou écrivez-nous à Cité des Jeunes — 113, rue du Château — 75014 Paris.
				</p>
				<p><span class="fui-facebook"></span>Suivez-nous aussi sur <a href="https://www.facebook.com/Cit%C3%A9-des-Jeunes-120555778026504/">facebook!</a></p>
				<h5>Site Internet</h5>
				<p>Ce site est encore en développement. Pour tout commentaire ou suggestion, écrivez un mail au webmaster: <a href="mailto:paul.janin@supelec.fr">paul.janin@supelec.fr</a>. Vos avis nous interessent!</p>
			</div>
		</div>
	</div>
{% endblock %}