{% extends "layout.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}

{% block extra_header %}
  {% if session.logged_in %}
    <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>
  {% endif %}
{% endblock %}

{% block contents %}
    <div class = content-wrapper>
        <div class = text-wrapper>
            <h2>{{ entry.title }}</h2>
            <p class = "post-timestamp">Le {{ entry.timestamp.strftime('%d/%m/%Y,  %H:%M') }} par {{ ','.join(entry.get_author_names()) }}</p>
            {{ entry.html_content }}
        </div>
    </div>
{% endblock %}
