{% extends "layout.html" %}
<!DOCTYPE html>
{% block contents %}
            <section class="header-10-sub v-center bg-midnight-blue">
                <h2>Actualités</h2>
                <table id="recent-posts-display">
                    <tr class="recent-posts-row">
                        {% for i in range(max_index) %}
                            <!-- Old testing presentation, deprecated
                            <div class="post-item">
                                <p>{{ recent_posts[i].title }}</p>
                                <p>Par {{ posts_authors[i] }}, le {{ recent_posts[i].timestamp.day }}/{{ recent_posts[i].timestamp.month }}
                                </p>
                            </div> -->
                            <td>
                                <article class="card">
                                    <header class="card__thumb">
                                        <a href="#">
                                            <img src="/static/img/article.JPG"/>
                                        </a>
                                    </header>
                                    <div class="card__date">
                                        <span class="card__date__day">{{ recent_posts[i].timestamp.day }}</span>
                                        <span class="card__date__month">{{ recent_posts[i].timestamp.month }}</span>
                                    </div>
                                    <div class="card__body">
                                        <div class="card__category"><a href="#">Actualité</a></div>
                                        <div class="card__title"><a href="#">L'été arrive</a></div>
                                        <div class="card__subtitle">{{ recent_posts[i].title }}</div>
                                        <p class="card__description">
                                            Il n'est de singe qui ne soit primate. La réciproque est fausse. L'avantage d'un tel animal est sa convivialité en terrain boisé. Jamais nous ne verrons un singe croiser un arbre sans y escalader. Cependant, le cri du singe revêt des sonorités disparates que l'on ne saurait identifier.
                                        </p>
                                    </div>
                                    <footer class="card__footer">

                                    </footer>
                                </article>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </section>

            <!-- content-7  -->
            <section class="content-7 v-center">
                <A NAME="camps"></A>

                <div>

                    <div class="container">
                        <h3>Les vacances à la Cité des Jeunes</h3>
                                    La Cité des Jeunes propose des séjours d’été de 3 semaines (10 jours pour les 6-8 ans) pour les enfants et adolescents de 6 a 17 ans. Tous les séjours sont mixtes et réunissent au maximum 40 participants.

                        <div class="row v-center">
                            <div class="col-sm-4">
                                <div>
                                    <h6> Colonies 6-8 et 9-12 ans </h6>
                                Les séjours des 6/8 ans et 9/12 ans sont des colonies de vacances multi-activités, avec hébergement en maison agréée.
                                </div>
                            </div>
                             <div class="col-sm-4">
                                <div class="col-sm-offset-1">
                                    <h6> Camps 13-15 ans</h6>
 Les séjours des 13-15 sont des camps de vacances en partie itinérants et sous tente, dans des régions de France choisies pour leurs attraits. 
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-offset-2">
                                    <h6>Camps 16-17</h6>
                                    Les camps 16-17 ans se déroulent également sous tente, parfois à l’étranger. La grande nouveauté pour les anciens 13/15 est l’autonomie laissée aux équipes de vie : il n’y a pas d’animateur attitré à chacune de celles-ci. Les jeunes composant ces équipes ont donc, ensemble, la responsabilité de leur bon fonctionnement.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-23  -->
            <section class="content-23 v-center bg-midnight-blue custom-bg">
                <div>
                    <div class="container">
                    </div>
                </div>
                <a class="control-btn fui-arrow-down" href="#"> </a>
            </section>

            <!-- content-8  -->
            <section class="content-8 v-center">
                <div>
                    <div class="container">
                                <p> 
Les activités varient d’un séjour à l’autre et d’une année à l’autre. Elles sont au service d’un projet pédagogique correspondant aux centres d’intérêt et étapes de développement propres à chaque âge. Il y en a toute une palette : 
    </p>

                        <div class="row v-center">
                            <div class="col-sm-3">
                                <div>
                                    <h5> Les Classiques </h5> Grands jeux, veillées, chant, baignades, randonnées, ateliers créatifs... 
                                </div>
                            </div>
                             <div class="col-sm-3">
                                <div class="col-sm-offset-1">
                                    <h5> Sportives </h5>
                                        VTT, poney, escalade, canyonning... avec encadrement professionnel, selon les ressources du lieu  
                               </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-offset-2">
                                    <h5> Educatives </h5>
                                        Temps d’expression, services, chantiers... </li> 
                                </div>
                              </div>
                            <div class="col-sm-3">
                                <div class="col-sm-offset-2">
                                    <h5> Spirituelles </h5>
                                        Jeux bibliques, débats, prière, participation à l’Eucharistie dominicale. Pour des questions de cohésion du groupe et d’encadrement, ces temps ne sont pas facultatifs.
                                </div>
                              </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
{% endblock %}
