{% extends "layout.html" %}

<!DOCTYPE html> 
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
		<h2 style="margin-bottom: 15px;">En attendant l'été</h2>
		<h5>Dates des camps d'été 2016</h5>
		<div class = "justified-paragraph">
			<p>Les inscriptions aux camps de l’été 2016 sont ouvertes! Pour recevoir la lettre de la Cité des Jeunes ou pour toute information supplémentaire, envoyez vos coordonnées complètes à <a href="mailto:info@citedesjeunes.com">info@citedesjeunes.com</a>.</p>
			<p class="content-11">
			Le dossier d'inscription est disponible <a href ="../static/doc/inscription_file.pdf" target = "_blank" style="font-weight: bold;">ici!</a>
			</p>
			<div>
				<table class="table camp-table">
					<thead>
						<tr>
							<th colspan="2">6-8 ans</th>
							<th>9-12 ans</th>
							<th>13-15 ans</th>
							<th>16-17 ans</th>
						</tr>
						<tr>
							<th colspan="3">Etang-sur-Arroux</th>
							<th>Bretagne</th>
							<th>Portugal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>8 au 18 Juillet<br>24 places</td>
							<td>18 au 28 Juillet<br>24 places</td>
							<td>8 au 28 Juillet<br>32 places</td>
							<td>8 au 28 Juillet<br>30 places</td>
							<td>8 au 28 Juillet<br>25 places</td>
						</tr>
					</tbody>
				</table>
				<table class="table camp-table">
					<thead>
						<tr>
							<th colspan="2">6-8 ans</th>
							<th>9-12 ans</th>
							<th>13-15 ans</th>
						</tr>
						<tr>
							<th colspan="3">Abondance</th>
							<th>Alsace</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>4 au 14 Août<br>12 places</td>
							<td>14 au 24 Août<br>12 places</td>
							<td>4 au 24 Août<br>30 places</td>
							<td>4 au 24 Août<br>30 places</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</div>
{% endblock %}