{% extends "layout.html" %}

<!DOCTYPE html> 
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
		<h2 style="margin-bottom: 15px;">En attendant l'été</h2>
		<h5>Dates des camps d'été 2017</h5>
		<div class = "justified-paragraph">
			<p>Les inscriptions aux camps de l'été 2017 sont ouvertes!</p>
			<p class = "content-11"> Pour télécharger le dossier d'insription, cliquez <a href = ../static/doc/inscription_file.pdf>ici</a>.</p>
			<p>
			Les dossiers d'inscriptions seront traités dans l'ordre de réception, le cachet de la poste faisant foi. Assurez vous que votre dossier est bien complet avant de l'envoyer!
			</p>
			<p> N'hésitez pas à consulter les <b>présentations des camps</b> sur <a href="news.html">cette page</a>, et à nous contacter pour toute question ou précision.</p>
			<div class="content-8" style="padding-top: 40px; padding-bottom: 0px;">
				<p>Dates et lieux des camps, places restantes :</p>
			</div>
			<div>
				<table class="table camp-table">
					<thead>
						<tr>
							<th colspan="2">6-9 ans</th>
							<th>9-12 ans</th>
							<th>13-15 ans</th>
							<th>16-17 ans</th>
						</tr>
						<tr>
							<th colspan="3">Abondance</th>
							<th>Vercors</th>
							<th>Gorges du Verdon</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>10 au 20 Juillet<br>Complet !</td>
							<td>20 au 31 Juillet<br>5 places sur 20</td>
							<td>10 au 31 Juillet<br>1 place sur 40</td>
							<td>10 au 31 Juillet<br>8 places sur 35</td>
							<td>10 au 31 Juillet<br>12 places sur 24</td>
						</tr>
					</tbody>
				</table>
				<table class="table camp-table">
					<thead>
						<tr>
							<th colspan="2">6-9 ans</th>
							<th>9-12 ans</th>
						</tr>
						<tr>
							<th colspan="3">Abondance</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3 au 14 Août<br>20 places</td>
							<td>14 au 24 Août<br>10 places sur 20</td>
							<td>3 au 24 Août<br>20 places sur 24</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</div>
{% endblock %}
