{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
			<h2 style="margin-bottom: 15px;">Cité Nouvelle</h2>
			<h5>Le journal de la Cité des Jeunes</h5>
			<div class = "justified-paragraph">
				<p>Le journal Cité Nouvelle paraissait deux fois par an, en novembre et février/mars. Depuis deux ans, seul le numéro de février/mars est édité, par manque de moyen et de temps. Vous pouvez demander à le recevoir en nous envoyant un mail à info@citedesjeunes.com</p>
				<p>Vous pouvez également consulter le journal de mars 2015 <a href="../static/doc/last_journal.pdf">ici</a></p>
				
			</div>
		</div>
	</div>
{% endblock %}