{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
			<h2>J'y vais... J'y vais pas?</h2>
			<div class = "justified-paragraph">
				<p class = "lead">Une aide à la décision !</p>
				<ul class="content-list">
					<ul class="dual-list">
						<li>J’y vais pas si j’ai la flemme de bouger.</li>
						<li>J’y vais si je veux être le héros d’une aventure inoubliable.</li>
					</ul>
					<ul class="dual-list">
						<li>J’y vais pas si je veux passer mes vacances à m’abrutir devant la télé.</li>
						<li>J’y vais si j’ai envie de bouger, de courir, de nager, de taper dans un ballon.</li>
					</ul>
					<ul class="dual-list">
						<li>J’y vais pas si mon grand plaisir dans la vie c’est que mes parents me fassent mes tartines.</li>
						<li>J’y vais si j’ai envie de mettre la main à la pâte, de me débrouiller tout seul, de découvrir que je suis capable de réussir et de survivre loin de la maison.</li>
					</ul>
					<ul class="dual-list">
						<li>J’y vais pas si pour moi la musique c’est forcément un truc qu’on écoute tout seul dans son coin.</li>
						<li>J’y vais si je veux chanter fort, faux ou juste, mais du matin au soir et avec les autres, et peut-être m’initier à la guitare ou au djembe.</li>
					</ul>
					<ul class="dual-list">
						<li>J’y vais pas si pour moi la seule chose importante dans la vie c’est d’être le plus riche, le plus fort ou le mieux habillé.</li>
						<li>J’y vais si je suis curieux d’en savoir un peu plus sur ce Jésus et ses amis.</li>
					</ul>
					<ul class="dual-list">
						<li>J’y vais pas si j’ai peur des fourmis, du noir, ou qu’on se moque de moi.</li>
						<li>J’y vais même si j’ai un peu peur, parce que je fais confiance à tous ceux qui disent que la Cité c’est super.</li>
					</ul>
					<ul class="dual-list">
						<li>J’y vais pas si je pense que les autres sont toujours idiots ou méchants.</li>
						<li>J’y vais si j’ai envie de me faire des amis pour la vie.</li>
					</ul>
					<p>Alors si cet été, tu y vas, il ne te reste plus qu'à <a href="/inscriptions">t'inscrire!</a></p>
			</div>
		</div>
	</div>
{% endblock %}