<!doctype html>
<html lang = "en">
{% block head %}
    <head>
        <meta charset="utf-8">
        <title>Cité des jeunes !</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="static/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="static/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="static/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="static/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="static/css/style.css">
    </head>
{% endblock %}
<body>
<div class="page-wrapper" id="full-height">
{% block header %}
	<header class="header-10" style="background-color:rgb(243, 156, 18);" >
					<div class="container">
						<div class="navbar col-sm-12" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"></button>
								<a class="brand" href="/">
									<img src="../static/img/logo_transparent.png" style="height: 60px; padding-bottom: 10px; margin-right: 5px;">
								La Cité des Jeunes</a>
							 </div>
							<div class="collapse navbar-collapse pull-right">
								<ul class="nav pull-left">
									<li class="dropdown"><!-- active -->
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">Découvrir
											<!-- <b class="caret"></b> -->
										</a>
										<span class="dropdown-arrow"></span>
										<ul class="dropdown-menu">
											<li><a href="/about"> L'identité de la Cité des Jeunes </a></li>
											<li><a href="/vacances"> Les vacances à la Cité des Jeunes </a></li>
											<li><a href="/projet"> Projet éducatif </a></li>
											<li><a href="/statuts"> Statuts </a></li>
											<li><a href="/conseil"> Le conseil </a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">Participer
											<!-- <b class="caret"></b> -->
										</a>
										<span class="dropdown-arrow"></span>
										<ul class="dropdown-menu">
											<li><a href="/camps_6_12"> Colonies 6-12 ans </a></li>
											<li><a href="/camps_13_15"> Camps 13-15 ans </a></li>
											<li><a href="/camps_16_17"> Camps 16-17 ans </a></li>
											<li><a href="/inscriptions"> Inscriptions </a></li>
											<li><a href="/jvoupas"> J'y vais, j'y vais pas? </a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">Témoigner
											<!-- <b class="caret"></b> -->
										</a>
										<span class="dropdown-arrow"></span>
										<ul class="dropdown-menu">
											<li><a href="#"> Ils ont dit... </a></li>
											<li><a href="/news"> Les nouvelles </a></li>
											<li><a href="/journal"> Cité Nouvelle </a></li>
											<li><a href="#"> Archives des camps </a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">Animer
											<!-- <b class="caret"></b> -->
										</a>
										<span class="dropdown-arrow"></span>
										<ul class="dropdown-menu">
											<li><a href="/coin_anims"> Le coin des anims' </a></li>
											<li><a href="#"> Les formations </a></li>
											<li><a href="/charte"> La charte anim' </a></li>
											<li><a href="#"> Les anciens de la Cité </a></li>
										</ul>
									</li>									
								</ul>
								
								<form class="navbar-form pull-left">
									<a class="btn btn-lg btn-warning" href="/ccontact">Contactez nous!</a>
								</form>
							</div>
						</div>
					</div>
	</header>
{% endblock %}
	<div id="content">
		{% block contents %}
		{% endblock %}
	</div>
</div>
{% block footer %}
<div id="footer">
	<footer>
		<div class = "container">
			<div class = "col-xs-7">
				<p>
				Cité des jeunes, Janvier 2016
				</p>
			</div>
		</div>
	</footer>
</div>
{% endblock %}
<!-- </div> -->
{% block scriptsLoad %}
<!-- Placed at the end of the document so the pages load faster -->
        <script src="static/common-files/js/jquery-1.10.2.min.js"></script>
        <script src="static/flat-ui/js/bootstrap.min.js"></script>
        <script src="static/common-files/js/modernizr.custom.js"></script>
        <script src="static/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="static/common-files/js/jquery.parallax.min.js"></script>
        <script src="static/common-files/js/startup-kit.js"></script>
        <script src="static/js/jquery.backgroundvideo.min.js"></script>
        <script src="static/js/script.js"></script>
{% endblock %}
</body>
</html>