{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white" style="padding-bottom: 90px; padding-left: 90px; padding-right: 90px;">
		
			<h2>Login</h2>
			<form action={{url_for('login', next=next_url)}} method="post">
				<dl>
					<dt>Nom d'utilisateur</dt>
					<dd><input type="text" name="username"></dd>
					<dt>Mot de passe</dt>
					<dd><input type="password" name="password"></dd>
				</dl>
				<button type="submit">Connexion</button>
			</form>
		</div>
	</div>
{% endblock %}
