{% extends "layout-textpage.html" %}

<!DOCTYPE html>
{% block text_contents %}
	<div>
		<div><!-- class="container v-center bg-white content-24"-->
                        <h2>Les nouvelles</h2>
                        <p class="lead">Retrouvez ici les dernières actualités concernant la Cité des Jeunes!</p>
                        {% for entry in posts_list %}
                            <div class="post-list-item">
                            <h3>
                                {{ entry.title }}
                                <span class="post-timestamp">
                                    Par {{ ','.join(entry.get_author_names()) }} le {{ entry.timestamp.strftime('%d/%m/%Y,  %H:%M') }}
                                </span>
                            </h3>
                            <p>
                                {{ entry.get_short_text() }}{% if entry.is_shortened() %}...
                                {% endif %}
                                <a href = "/{{ entry.slug }}">Plus</a>
                            </p>
                            </div>
                        {% endfor %}
                        <div class="post-list-item">
                            <h3>Présentation des camps</h3>
                            <div class = "justified-paragraph">
                            <p>Pour plus d'informations sur les activités, les lieux, les équipes d'animation de chaque camp, vous pouvez consulter leurs présentations individuelles :</p>
                                <ul class = "content-list">
                                        <li><a href="">Camp 6-12 ans Juillet</a></li>
                                        <li><a href="">Camp 6-12 ans Août</a></li>
                                        <li><a href="">Camp 13-15 ans Juillet</a></li>
                                        <li><a href="">Camp 16-17 ans Juillet</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-list-item">
                            <h3>Lettre de la cité des jeunes</h3>
                            <div class = "justified-paragraph">
                                    <p>Une lettre pour toute les personnes qui sont impatientes d’attendre le prochain journal, et qui veulent connaître des nouvelles bien fraîches.</p>
                                    <p>Pour la consulter, cliquez <a href="../static/doc/letter.pdf">ici !</a></p>
                            </div>
                        </div>
		</div>
	</div>
{% endblock %}
