{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
			<h2 style="margin-bottom: 15px;">Projet éducatif</h2>
			<div class = "justified-paragraph">
				<p>Le Projet Éducatif est le document officiel résumant les objectifs d’éducation d’une association d’Éducation Populaire. Il présente les valeurs portées et mises en œuvre dans les Centres de Vacances, ainsi que dans les formations des animateurs. Celui de la Cité des Jeunes est disponible en ligne, pour permettre à chacun de connaître ses spécificités avant l’inscription d’un enfant ou un engagement en tant qu’animateur.
				</p>
				<p style="margin-bottom: 2em;">Pour le consulter, cliquez <a href = "../static/doc/projet_educatif.pdf" target="_blank">ici</a>.
				</p>
				<p>Cette page en résume quelques principes.</p>
				<p>Comme dans tout centre de vacances, un séjour à la Cité des Jeunes développe l’autonomie et apprend à vivre avec les autres. Attentifs à l’expression de chacun, les animateurs encouragent la coopération et le partage entre les jeunes.
				</p>
				<p>Mais la Cité des Jeunes a une spécificité : complémentaire de la famille dans sa mission éducative, elle met en oeuvre une pédagogie chrétienne initié dès 1928 par le père Marcellin Fillère, son fondateur. Les enfants ou adolescents, forment avec leurs jeunes animateurs bénévoles, des petites communautés animées par des valeurs chrétiennes et humanistes. Pour de nombreux jeunes, cette expérience de communauté ecclésiale à leur échelle a été le fondement d’une vie riche de sens, et leur a donné le désir de s’engager pour vivre ces valeurs dans la société.</p>
				<p>Très novateur dans sa pédagogie, le père Fillère avait défini les bases de l’animation à la Cité des Jeunes. Tout camp commence par une assemblée générale ; le projet de camp tant pédagogique que spirituel est exposé par le directeur. Chaque jeune peut à cette occasion, individuellement ou en équipe, s’exprimer sur ce qu’il souhaite vivre. Le projet de camp ainsi défini est une ligne directrice tracée par tous qui reste une référence constante du séjour. Chacun devient de cette façon un artisan de la réussite du camp.
				</p>
				<p>Le projet de camp est bâti autour du plan progressif spirituel : le thème annuel, choisi et étudié par les animateurs dans un premier temps est le point clé des réflexions proposées et un enrichissement pour tous.</p>
				<p>Pendant les camps, les enfants et les jeunes sont répartis en petites équipes, où chacun trouve aisément sa place tout au long des activités de la journée (jeux, sports, excursions, temps de service...). Cette vie d’équipe est complémentaire de la vie de groupe.</p>
				<p>A nous tous de faire vivre ce projet !</p>
			</div>
		</div>
	</div>
{% endblock %}