{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white content-24">
		
			<h2 style="margin-bottom: 15px;" > Les statuts de l’association</h2>
			<div class = "justified-paragraph">
				<p>Les statuts définissent le fonctionnement administratif et institutionnel de l'association. Ils sont régulièrement mis à jour.</p>
				<p>Ils sont consultabes <a href="../static/doc/statuts_2014.pdf" target="_blank">ici</a>.</p>
				<p><a href="http://www.ufcv.asso.fr">Site de l'UFCV</a></p>
				<p><a href="http://www.facel-paris.com/">Site de la FACEL</a></p>
			</div>
		</div>
	</div>
{% endblock %}