{% extends "layout.html" %}

<!DOCTYPE html>
{% block contents %}
	<div>
		<div class="container v-center bg-white" style="padding-bottom: 90px; padding-left: 90px; padding-right: 90px;">
		
			<h2 style="margin-bottom: 15px;" > Les statuts de l’association</h2>
			<h4> Adoptés par l’assemblée générale extraordinaire du 20 septembre 2003 </h4>
			<div class = "justified-paragraph">
				<div>
					<p style="color: ff9933;"> Association d'Éducation Populaire déclarée le 9 décembre 1946 (Journal officiel du 22 janvier 1947). Agréée par le Ministère de la jeunesse, des sports et de la vie associative par arrêté 75-476 du 30 août 1966. Adhérente à l'Union Française des Centres de Vacances (<a href="http://www.ufcv.asso.fr">UFCV</a>) et à la Fédération des Associations Culturelles Éducatives et de Loisirs (<a href="http://www.facel-paris.com/">FACEL</a>).</p>
				</div>
				<div><h3>Titre 1 - L'association et ses membres</h3>
				<p style="font-weight: bold">Article 1 - Constitution</p>

				<p>Il est formé entre les personnes ayant adhéré aux présents statuts une Associaiton, régie par la loi du 1er juillet 1901 et par les présents statuts, appelée "Cité des Jeunes".</p>

				<p style="font-weight: bold">Article 2 - Objet</p>

				<p>Cette association a pour objet la formation et l'éducation des jeunes, tant sportive, artistique, culturelle, ou intellectuelle que morale ou spirituelle, et par voie de conséquence la formation technique, pédagogique et spirituelle d'animateurs. Aucune distinction d'origine, de sexe ou de nationalité n'existe en son sein.</p>

				<p>Dans cette perspective, elle met en œuvre tout moyen approprié, dans le respect de la personnalité et de la liberté de chacun, notamment à l'occasion de rencontres, d'activités de plein air, d'expression et de formation, soit en camp ou centre de vacances, soit au cours de l'année scolaire.</p>

				<p>En unissant ses efforts, par des initiatives qui lui sont propres, à ceux des parents ou de tout corps ou organisme social intermédiaire, elle contribue à assurer aux jeunes, dans un cadre communautaire, des raisons, et non seulement des moyens de vivre, par l'entretien d'un climat de joie et d'effort, indispensable à l'épanouissement de tout homme.</p>

				<p style="font-weight: bold">Article 3 - Siège</p>

				<p>Le siège de l'Association est situé au 4 rue Bardinet 75014 Paris.
				Il peut être transféré en tout autre endroit du territoire national français par décision du Conseil d'Administration.</p>

				<p style="font-weight: bold">Article 4 - Durée</p>

				<p>La durée de l'association est illimitée.</p>

				<p style="font-weight: bold">Article 5 - Adhésion</p>

				<p>Toute personne de plus de 16 ans adhérant aux présents statuts peut devenir membre de l'association en souscrivant un bulletin d'adhésion.. L'adhésion est soumise à l'approbation du Conseil d'Administration. Le refus éventuel est notifié par écrit.</p>

				<p style="font-weight: bold">Article 6 - Ressources</p>

				<p>Les ressources de l'association se composent& ;: de la contribution des adhérents et participants aux frais de fonctionnement de l'association et d'organisation des activités, de la vente éventuelle de produits, services ou prestations fournis par l'association, de subventions, de dons manuels, et toute autre ressource qui ne soit pas contraire aux règles en vigueur.</p>

				<p style="font-weight: bold">Article 7 - Membres d'honneur</p>

				<p>Le titre de membre d'honneur peut être décerné par le Conseil d'Administration aux personnes physiques ou morales qui rendent ou qui ont rendu des services signalés à l'Association. Ce titre confère aux personnes qui l'ont obtenu le droit de faire partie de l'Assemblée Générale.</p>

				<p style="font-weight: bold">Article 8 - Radiation</p>

				<p>La qualité de membre se perd par :
				<br>le décès ;
				<br>la démission qui doit être adressée par écrit au Conseil d'Administration ;
				<br>le non-renouvellement de l'adhésion au bout de 3 ans ;
				<br>la radiation pour motif grave. Celle-ci sera prononcée par le Conseil d'Administration, après avoir entendu l'intéressé convoqué par lettre recommandée avec accusé de réception, et notifiée par écrit.</p>

				<h3>Titre 2 - Administration</h3>
				<p style="font-weight: bold">Article 9 - Composition du Conseil d'Administration</p>

				<p>L'association est administrée par un Conseil de neuf à quinze membres de nationalité française, âgés de plus de seize ans, élus selon les modalisés définies à l'article seize ci-après. Ils ne peuvent recevoir aucune rétribution en raison des fonctions qui leur sont confiées.</p>

				<p>Le Conseil est élu chaque année; ses membres sont toujours rééligibles.</p>

				<p>En cas de vacance, le Conseil d'Administration pourvoit au remplacement de ceux de ses membres dont le mandat a pris fin ou qui ne peuvent siéger pour quelque raison que ce soit. Il est procédé à leur remplacement définitif par la prochaine Assemblée Générale, au cas où celle-ci se réunit avant celle qui doit réélire le Conseil.</p>

				<p style="font-weight: bold">Article 10 - Constitution du Bureau</p>

				<p>Chaque année le Conseil d'Administration élit, parmi ses membres ou ses anciens membres, un Président, un vice-Président, un Secrétaire Général et un Trésorier qui constituent le Bureau du Conseil de l'Association. Les membres du Bureau sont indéfiniment rééligibles. Ils ne peuvent recevoir aucune rétribution en raison des fonctions qui leur sont confiées. Le Conseil peut inviter à siéger avec lui, avec voix consultative, toute personne dont la compétence lui semble utile.</p>

				<p>Article 11 - Décisions du Conseil d'Administration
				Le Conseil d'Administration se réunit sur convocation du Président ou de la moitié de ses membres, aussi souvent que l'exige l'intérêt de l'Association.</p>

				<p>La présence de la moitié au moins des membres du Conseil est nécessaire pour lui permettre de délibérer valablement. Les décisions sont prises à la majorité des voix, la voix du Président étant prépondérante en cas d'égalité.</p>

				<p>Toutes les décisions prises par le Conseil sont constatées par des procès-verbaux. Au cas où les décisions amènent des modifications dans l'administration, les procès-verbaux sont consignés sur le registre prévu par l'Article 5 de la Loi du 1er Juillet 1901 et signés par le Président et au moins un autre membre du Conseil ou du Bureau.</p>

				<p style="font-weight: bold">Article 12 - Pouvoirs du Conseil d'Administration</p>

				<p>Le Conseil d'Administration est investi des pouvoirs les plus étendus pour faire et autoriser toutes opérations et tous actes permis à l'Association et qui ne sont pas réservés à l'Assemblée Générale. Notamment, il fixe les traitements, autorise les prises à bail ou la location des locaux nécessaires aux besoins de l'association, décide des acquisitions, fait effectuer toute réparation aux immeubles et objets immobiliers, assure l'entretien du matériel nécessaire aux centres de vacances et statue sur l'admission et l'exclusion des membres.</p>

				<p style="font-weight: bold">Article 12 bis - Projet éducatif</p>

				<p>Le Conseil d'Administration est chargé de rédiger et d'actualiser un texte de référence des activités de l'Association, intitulé " Projet éducatif ".</p>

				<p style="font-weight: bold">Article 13 - Attributions du Bureau</p>

				<p>Le Bureau du Conseil d'Administration est spécialement investi des attributions suivantes:</p>

				<ol><li> Le Président veille à l'exécution des décisions prises et notamment à leur conformité avec l'objet de l'association (article 2) et le projet éducatif (article 12 bis). Il représente l'association en justice et dans tous les actes de la vie civile. Il peut se faire suppléer par un mandataire pour un ou plusieurs objets déterminés.</li></ol>
				<ol><li> Le Vice-Président seconde le Président et le remplace en cas d'empêchement.</li></ol>
				<ol><li> Le Secrétaire Général convoque les différents organes de l'association, assure la rédaction des procès-verbaux et assure la tenue du registre prévu par l'article 5 de la Loi du 1er Juillet 1901. Il est plus spécialement chargé de la correspondance et de l'administration.</li></ol>
				<ol><li> Le Trésorier tient les comptes de l'association, encaisse les recettes et acquitte les dépenses.</li></ol>
				<ol><li> Les comptes ouverts au nom de l'association auprès des banques et des Chèques Postaux peuvent fonctionner sans aucune restriction sous la signature du Président ou de toute personne ayant reçu, pour tout ou partie des pouvoirs financiers du Président, mandat du Président ou du Conseil d'Administration. Ce ou ces mandataires n'ont pas la possibilité de sub-déléguer.</li></ol>
				<p style="font-weight: bold">Article 14 - Limite de responsabilité</p>

				<p>Le patrimoine de l'association répond seul des engagements contractés par elle sans qu'aucun de ses membres, même ceux qui participent à son administration, puisse être tenu responsable.</p>

				<h3>Titre 3 - Assemblée Générale</h3>
				<p style="font-weight: bold">Article 15 - Composition</p>

				<p>L'Assemblée Générale se compose des membres adhérents définis à l'article 5 et membres d'honneur définis à l'article 7. Ces membres y ont une voix délibérative. Chaque membre dispose d'une voix pour tous les votes et élections.</p>

				<p>Les mineurs de 16 ans participant aux activités de l'association, et leur parents ou représentants légaux non adhérents, peuvent assister aux l'Assemblées Générales et ont une voix consultative.</p>

				<p>Les membres empêchés peuvent se faire représenter, à l'aide d'un mandat écrit, par un autre membre, sans que celui-ci puisse disposer de plus de dix voix avec ses propres pouvoirs.</p>

				<p style="font-weight: bold">Article 16 - Election au Conseil d'Administration</p>

				<p>Pour les candidatures au Conseil d'Administration, l'Assemblée Générale se divise en trois collèges:</p>

				<p>Le premier collège : 16 ans accomplis à 21 ans
				<br>Le deuxième collège : 21 ans accomplis à 30 ans
				<br>Le troisième collège : plus de 30 ans</p>

				<p>L'ensemble des membres élit un nombre égal de représentants de chacun des trois collèges de candidature.</p>

				<p>Lors du dépouillement du scrutin, les membres mineurs peuvent accepter les fonctions d'administrateurs s'ils se portent forts d'obtenir une autorisation parentale, à faire parvenir au Secrétaire Général dans les huit jours.</p>

				<p style="font-weight: bold">Article 17 - Convocation de l'Assemblée Générale</p>

				<p>L'Assemblée Générale ordinaire se réunit chaque année, dans les quatre derniers mois de l'année, aux jours et heures fixées par le Conseil ou le Bureau, et indiqués sur l'avis de convocation qui, individuel, indique l'ordre du jour et est envoyé au moins huit jours à l'avance.</p>

				<p>L'Assemblée Générale peut aussi se réunir à tout moment à l'initiative du Bureau ou du Conseil d'Administration ou sur demande du tiers des membres qui la composent.</p>

				<p style="font-weight: bold">Article 18 - Présidence de l'Assemblée Générale</p>

				<p>L'Assemblée Générale est normalement dirigée par un membre du Bureau de l'Association qui veille à ce que soit suivi l'ordre du jour établi par le Conseil d'Administration.</p>

				<p>Cependant, à la demande du Président ou à la demande du quart des membres présents ou représentés, l'Assemblée peut, en début de séance, procéder à l'élection d'un Bureau temporaire comprenant un Président, un secrétaire et deux assesseurs (modérateurs et scrutateurs).</p>

				<p style="font-weight: bold">Article 19 - Assemblée générale extraordinaire</p>

				<p>Pour une Assemblée extraordinaire, les convocations doivent être envoyées trois semaines à l'avance.</p>

				<p>L'Assemblée Générale extraordinaire peut apporter aux statuts toutes modifications reconnues utiles, sans exception ni réserve. Elle peut décider notamment la dissolution de l'Association, sa fusion ou son union avec d'autres associations poursuivant un but analogue.</p>

				<p>Dans divers cas, le nombre des membres présents ou représentés à cette Assemblée doit être au moins égal au quart des membres ayant le droit d'en faire partie, et les décisions sont acquises à la majorité des deux tiers des membres présents ou représentés.</p>

				<p>Si une convocation d'Assemblée Générale extraordinaire ne peut réunir le nombre de membres nécessaires pour délibérer valablement, il peut être convoqué une deuxième Assemblée Générale extraordinaire dans les conditions du premier alinéa du présent article, qui pourra délibérer quel que soit le nombre de membres présents ou représentés.</p>

				<p style="font-weight: bold">Article 20 - Procès-verbaux</p>

				<p>Les délibérations des Assemblées Générales sont constatées par des procès-verbaux établis par le Secrétaire Général et signés par les membres composant le Bureau de chaque Assemblée. Lesdits procès-verbaux constatent le nombre des membres présents ou représentés à chaque Assemblée. Des extraits relatifs à tout changement intervenant dans la définition ou la composition de l'Association, la composition du Bureau ou du Conseil, doivent être portés sur le registre prévu à l'article 5 de la Loi du 1er Juillet 1901.</p>

				<p>Les copies et extraits des procès-verbaux sont signés par le Président ou par deux membres du Conseil d'Administration.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}